.modal__wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000099;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    width: 300px;
    background-color: #FFFFFF;
    padding: 18px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal__title {
    font-weight: 700;
    font-size: 28px;
    color: #364844;
}

.modal__input, .modal__textarea {
    margin-top: 8px;
}

.modal__textarea {
    width: 200px;
    min-height: 36.8px;
    max-height: 100px;
    resize: vertical;
}

.modal__button-cancel, .modal__button-signup {
    margin-top: 12px;
}

/* phone */
@media screen and (max-width: 550px) {
    .modal__title {
        font-size: 20px;
    }
}

/* small phone */
@media screen and (max-width: 370px) {
    .modal {
        width: 100%;
    }
}